{% extends 'index.html' %}

{% block title %}
    {{ post.title}}
{% endblock title %}

{% block content %}
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div> <span class="small text-muted ">{{ post.date |date:'d M Y' }} | Автор: {{post.author}} | {{post.get_category_display}}</span></div>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.text | linebreaks }}</p>
            <!-- <a class="btn btn-secondary bg-opacity-10" href="#!">Read more →</a> -->
        </div>
    </div>

{% endblock content %}