{% extends 'index.html' %}

{% block title %}
    {{ post.title}}
{% endblock title %}

{% block content %}
    <div class="card mb-2">
        {% if post.featured_image %}
            <img class="card-img-top" src="{{ post.featured_image.url }}" style="max-height:300px; object-fit: cover; object-position: 0 0;"/>
        {% endif %}
            <div class="card-body">
            <div> <span class="small text-muted ">{{ post.date |date:'d M Y' }} | Автор: {{post.author}} | {{post.get_category_display}}</span></div>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.featured_text }}</p>
            <p class="card-text">{{ post.text | safe }}</p>
        </div>
    </div>

    <div class="card pt-4 px-4 pb-2 mb-4">
        <p>
            <a href="{% url 'post_update' post.id %}" class="btn btn-outline-primary btn-sm">Редактировать</a>
            <a href="{% url 'post_delete' post.id %}" class="btn btn-outline-danger btn-sm">Удалить</a>
        </p>
    </div>  
{% endblock content %}