{% extends 'index.html' %}

{% block title %} Удалить объявление {% endblock title %}
 
{% block content %} 
<h1>Вы действительно хотите удалить объявление?</h1>
<hr>
<div class="card mb-2">
        {% if post.featured_image %}
            <img class="card-img-top" src="{{ post.featured_image.url }}" style="max-height:300px; object-fit: cover; object-position: 0 0;"/>
        {% endif %}    
        <div class="card-body">
        <div> <span class="small text-muted ">{{ post.date |date:'d M Y' }} | Автор: {{post.author}} | {{post.get_category_display}}</span></div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.featured_text | truncatechars:250 | safe }}</p>
    </div>
</div>

<div class="card mb-2 p-4">
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить" class="btn btn-danger btn-sm">
    <a href="{% url 'post' post.id %}" class="btn btn-secondary btn-sm" role="button">Отмена</a>
</form>
</div>
{% endblock content %} 