{% extends 'index.html' %}

{% block title %} Удалить объявление {% endblock title %}
 
{% block content %} 
<h1>Вы действительно хотите удалить объявление?</h1>
<hr>
<div class="card mb-2">
    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
    <div class="card-body">
        <div> <span class="small text-muted ">{{ post.date |date:'d M Y' }} | Автор: {{post.author}} | {{post.get_category_display}}</span></div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.text | linebreaks }}</p>
        <!-- <a class="btn btn-secondary bg-opacity-10" href="#!">Read more →</a> -->
    </div>
</div>

<div class="card mb-2 p-4">
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить" class="btn btn-danger btn-sm">
</form>
</div>
{% endblock content %} 