{% extends 'index.html' %}
{% block title %} Удалить Отклик {% endblock title %}
 
{% block content %} 
<h1>Вы действительно хотите удалить отклик?</h1>
<hr>
<div class="card mb-4">
    <div class="card-body">
    <div class="d-flex m-3 p-3 bg-light">
        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"/></div>
        <div class="ms-3">
            <div><span class="fw-bold">{{ reply.author }}</span> <small class="text-muted">{{ reply.date | date:'d M Y' }}</small> </div>
            {{ reply.text }}
        </div>
    </div>
    </div>
</div>

<div class="card mb-2 p-4">
<form method="POST">
{% csrf_token %}
<input type="submit" value="Подтвердить" class="btn btn-danger btn-sm">
<a href="{% url 'replies'  %}" class="btn btn-secondary btn-sm" role="button">Отмена</a>
</form>
</div>
{% endblock content %}